<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {{head}}
    </title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>{{helpText}}</p>
    <form >
        <label>
            <input type="text" placeholder="Location">
        </label>
        <button>Search</button>
    </form>
    <p class="success">

    </p>
    <p class="error">

    </p>
</div>

{{>footer}}
<script src="/js/main.js"></script>
</body>
</html>
